<!doctype html>
<html>
<body>

    <div class="container">
        <div class="margined-top-lg padded-top-lg">

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">

                    <h1>Upload</h1>
                    <!-- LOGIN FORM -->
                    <form id="uploadPhoto" action="/image" method="post" enctype="multipart/form-data">
                        <input type="file" name="image" />
                        <input type="submit" value="Upload Image" name="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
